.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7em;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
    line-height: 1.5em;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    width: 100%;
    padding: 10px 24px;   
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 10px 24px 10px 45px;
    line-height: 21px;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 17px;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 84px 75px;
    }
    
    .banner__titulo {
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        margin-bottom: -10px;
    }

    .banner__pesquisa {
        width: 50%;
        margin-top: 10px;
    }
   
    .banner__pesquisa::placeholder {
        background-position: 60px;   
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 38%;
    }

    .banner__pesquisa::placeholder {
        background-position: 140px;
    }
}
